<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>File Uploader App</h1>
        
        <div class="button-group">
            <a href="/logout" class="btn">Logout</a>
            <a href="/create-folder" class="btn">Create Folder</a>
            <a href="/upload" class="btn">Upload</a>
        </div>
    </div>
</body>
</html>
